body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, #66ff33 0%, #ccff33 65%);
	font-family: "Chewy";
}

#copy_to_clipboard{
	width:2.5vw;
	background-image: url('/static/images/copy_to_clipboard_white.png'); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
}

#copy_to_clipboard:hover{
    background-image: url('/static/images/copy_to_clipboard_black.png');
    box-shadow: 0 0 2px 2px black;
 } 

#original_url{
	color: black;
}

#form_url_submit{
	color: black;
	transition: color 0.25s;
}

#form_url_submit:hover{
	animation: color-change-submit 750ms infinite linear;
	color: white;
}

@keyframes color-change-submit{
	0%   {background: linear-gradient(to bottom right, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800);}
	20%  {background: linear-gradient(to bottom right, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900);}
	40%  {background: linear-gradient(to bottom right, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800);}
	60%  {background: linear-gradient(to bottom right, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900);}
	80%  {background: linear-gradient(to bottom right, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800);}
	100% {background: linear-gradient(to bottom right, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900, #e6b800, #009900);}
}
