body{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, #66ff33 0%, #ccff33 65%);
	font-family: "Chewy";
}

#copy_to_clipboard{
	background: transparent;
	background-image: url('/static/images/copy_to_clipboard_white.png'); 
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	transition: background-image 0.5s box-shadow 0.5s;
}

#copy_to_clipboard:hover{
    background-image: url('/static/images/copy_to_clipboard_black.png');
    box-shadow: 0 0 2px 2px black;
 } 

#original_url{
	background: transparent;
	color: black;
}

#shortened_url{
	background: transparent;
}

#form_url_submit{
	color: black;
	transition: text-shadow 0.5s box-shadow 0.5s;
}

#form_url_submit:hover{
	box-shadow: 0 0 2px 2px black;
	text-shadow: 0 0 2px black;
}
